// components/BoatConfigurator.module.scss

.configurator {
  text-align: center;
}

.stepSection {
  margin-bottom: 40px;
  transition: opacity 0.5s ease, max-height 0.5s ease;
  opacity: 1;
  max-height: 1000px;
}

.hidden {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
}

.options {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.option {
  cursor: pointer;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 8px;
  transition: transform 0.3s ease;
  text-align: center;
  max-width: 150px;
  opacity: 0.8;
  position: relative;

  &:hover {
    transform: scale(1.05);
  }

  img {
    width: 100%;
    height: auto;
    border-radius: 4px;
  }
}

.imageContainer {
  position: relative;
}

.zoomIcon {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: rgba(56, 157, 223, 0.8);
  color: white;
  border-radius: 4px; // Квадратная форма
  padding: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: rgba(43, 131, 191, 0.9);
  }
}

.selected {
  border: 2px solid #389DDF;
  opacity: 1;
}

.nextButton {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #389DDF;
  color: white;
  border: none;
  border-radius: 8px;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #2b83bf;
  }

  &:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
}

.summary {
  ul {
    list-style: none;
    padding: 0;
  }

  li {
    font-size: 18px;
    margin: 10px 0;
  }

  strong {
    font-size: 20px;
  }
}

.popupOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.popupContent {
  position: relative;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.fullscreenImage {
  max-width: 90vw;
  max-height: 80vh;
  border-radius: 8px;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
  transition: color 0.3s;

  &:hover {
    color: #ccc;
  }
}
