// components/BoatConfigurator.module.scss

.configurator {
  text-align: center;
}

.stepSection {
  margin-bottom: 40px;
  transition: opacity 0.5s ease, max-height 0.5s ease;
  opacity: 1;
  max-height: 100%;
}

.hidden {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
}

.options {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.option {
  cursor: pointer;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 8px;
  transition: transform 0.3s ease;
  text-align: center;
  max-width: 350px;
  opacity: 0.8;
  position: relative;

  &:hover {
    transform: scale(1.05);
  }

  img {
    width: 100%;
    height: auto;
    border-radius: 4px;
  }
// на экранах когда карточки начинают строиться в 2 колонки (минимальное значени) - работает не очень корректно из-за бордера при клике (1 лишний пиксель)
  @media (max-width: 387px) {
    max-width: 300px;
    flex-direction: row;
    gap: 20px;

    &:hover {
      transform: none;
    }
  }

}

.imageContainer {
  position: relative;
}

.zoomIcon {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: rgba(155, 155, 170, 0.8);
  color: white;
  padding: 4px 8px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.3s;

  &:hover {
    background-color: rgba(66, 66, 76, 0.9);
  }
}

.selected {
  border: 2px solid #389DDF;
  opacity: 1;

  @media (max-width: 387px) {
    border: 1px solid #389DDF; // на мобайле чтобы не сьезжали карточки при выборе
  }
}

.nextButton {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #389DDF;
  color: white;
  border: none;
  border-radius: 8px;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #2b83bf;
  }

  &:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
}

.summary {
  ul {
    list-style: none;
    padding: 0;
  }

  li {
    font-size: 18px;
    margin: 10px 0;
  }

  strong {
    font-size: 20px;
  }
}

.popupOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.popupContent {
  position: relative;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.fullscreenImage {
  max-width: 90vw;
  max-height: 80vh;
  border-radius: 8px;
}

.closeButton {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #389DDF;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: #2b83bf;
  }
}
