/* imageCounter.module.scss */

.counter {
  position: absolute;
  top: 30px;
  left: 30px;
  background-color: rgba(34, 34, 34, 0.8);
  color: #fff;
  padding: 7px 13px;
  border-radius: 8px;
  font-size: 16px;
  z-index: 200;
}
