// styles/navigationButtons.module.scss

.modalArrowLeft,
.modalArrowRight {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  padding: 12px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 200;
  transition: background-color 0.3s ease;
}

.modalArrowLeft:hover,
.modalArrowRight:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.modalArrowLeft {
  left: 15px;
}

.modalArrowRight {
  right: 15px;
}
