// pages/boat/boatPage.module.scss

.boatPage {
  text-align: center;
}

.tabButtons {
  display: flex;
  justify-content: center;
  margin: 20px 0;

  button {
    padding: 10px 20px;
    border: none;
    background-color: rgba(51, 51, 51, 0.35); // Новый цвет кнопки
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    margin: 0 10px;
    border-radius: 8px; // Добавленный border-radius для закругления
    transition: background-color 0.3s;

    &:hover {
      background-color: rgba(51, 51, 51, 0.6); // Цвет при наведении
    }

    &.active {
      background-color: rgba(51, 51, 51, 0.8);
      color: #fff;
      border-radius: 8px; // Закругление для активной кнопки, если требуется
    }
  }
}

.tabContent {
  margin: 20px 0;
  font-size: 18px;
  color: #444;

  p, ul {
    max-width: 800px;
    margin: 0 auto;
    text-align: left;
  }
}

.addressSection {
  text-align: left; // Выравнивание текста по правому краю
  max-width: 800px;
  margin: 0 auto;
}

