/* Desktop версия */
.header {
  background-color: #343C4B;
  padding: 20px;

  .headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Центрируем элементы по вертикали */
    max-width: 1200px;
    margin: 0 auto;
  }

  .logo {
    flex: 1;
  }

  .menu {
    flex: 2;
    text-align: center;

    ul {
      display: flex;
      justify-content: space-between; /* Равномерно распределяем кнопки меню */
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        margin: 0 10px;

        a {
          color: #fff;
          text-decoration: none;
          font-weight: 500;
          padding: 10px; /* Постоянный padding, чтобы предотвратить смещение при наведении */
          border-radius: 5px;
          transition: background-color 0.3s ease, border 0.3s ease;


          &:hover {
            color: #fff;
            background-color: rgba(41, 121, 255, 1); /* Легкая заливка */
            border-radius: 5px;
            transition: background-color 0.3s ease, border 0.3s ease; /* Плавный переход */
            padding: 10px;
          }
        }
      }
    }
  }

  .contact {
    flex: 1;
    text-align: right;
    position: relative;

    /* Номер телефона с стрелкой */
    .phoneDropdown {
      display: inline-flex;
      align-items: center;
      color: #fff;
      font-weight: 500;
      cursor: pointer;
      padding: 10px;

      p {
        margin: 0;
      }

      .arrow {
        display: inline-block;
        margin-left: 5px;
        border: solid white;
        border-width: 0 2px 2px 0;
        padding: 2px;
        transform: rotate(45deg); /* Стрелка всегда направлена вниз */
      }
    }

    /* Выпадающее меню, которое отображается при наведении */
    .dropdownMenu {
      position: absolute;
      top: 40px;
      left: 75%;
      transform: translateX(-50%);
      width: 220px;
      padding: 15px;
      background-color: rgba(198, 198, 198, 0.8); /* Полупрозрачный серый фон */
      backdrop-filter: blur(5px);
      -webkit-backdrop-filter: blur(5px);
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      color: #fff;
      text-align: center;
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.3s ease, visibility 0.3s ease;

      p {
        margin: 8px 0;
      }
    }

    /* Показ меню по наведению на блок номера телефона */
    .phoneDropdown:hover + .dropdownMenu,
    .dropdownMenu:hover {
      opacity: 1;
      visibility: visible;
    }
  }

  /* Бургер-меню для мобильной версии */
  .burger {
    display: none;
  }

  .burgerMenu {
    display: none;
  }
}

/* Мобильная и планшетная версия */
@media (max-width: 1024px) {
  .headerContainer {
    justify-content: space-between;

    .menu {
      display: none;
    }

    .contact {
      display: none;
    }

    /* Стили для бургер-меню */
    .burger {
      display: block;
      cursor: pointer;
      position: relative;

      .burgerLine {
        width: 25px;
        height: 3px;
        background-color: #fff;
        margin: 5px 0;
        transition: 0.4s;
      }

      &.open .burgerLine:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
        z-index: 101;
        position: fixed;
      }

      &.open .burgerLine:nth-child(2) {
        opacity: 0;
      }

      &.open .burgerLine:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
        z-index: 101;
        position: fixed;
      }
    }

    .burgerMenu {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(52, 60, 75, 0.7);
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);
      z-index: 100;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      transition: transform 0.4s ease, opacity 0.4s ease;

      ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
          margin: 20px 0;

          a {
            color: #fff;
            font-size: 1.5rem;
            text-decoration: none;
          }
        }
      }

      .BurgerMenuContactsMini {
        border-top: 1px solid #ddd;

        p {
          color: #fff;
          font-size: 1.05rem;
        }
      }
    }
  }
}
